In [2]:
print("hello")

hello

In [ ]:
import pandas as pd

# Sample dataframe
out_df = pd.DataFrame({'name': ['geneA', 'geneB', 'geneC']})
imp_col = pd.Series([0.12, 0.34, 0.56])

# Before
print(imp_col)

0    0.12
1    0.34
2    0.56
dtype: float64

In [5]:

# Assign new index
imp_col.index = out_df['name'].values

# After
print(imp_col)

geneA    0.12
geneB    0.34
geneC    0.56
dtype: float64

In [7]:
import pandas as pd

# Create a DataFrame with long column names
brack_df = pd.DataFrame({
    "apple.bracken.out_num": [1, 2, 3],
    "banana.bracken.out_num": [4, 5, 6],
    "cherry.bracken.out_num": [7, 8, 9]
})

print(brack_df)

   apple.bracken.out_num  banana.bracken.out_num  cherry.bracken.out_num
0                      1                       4                       7
1                      2                       5                       8
2                      3                       6                       9

In [ ]:
# Apply your function
brack_df.columns = brack_df.columns.str.extract(r'([^\.]+)\.bracken\.out_num')[0] #.str.extract(pattern)

print( brack_df)

0  apple  banana  cherry
0      1       4       7
1      2       5       8
2      3       6       9

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4])
print(arr)       
print(arr[2])

[1 2 3 4]
3

In [ ]:
# 2D NumPy array (matrix)
matrix = np.array([[1, 2], [3, 4]])
print(matrix)

[[1 2]
 [3 4]]

In [14]:
a=5*2
a

10

In [13]:
a=5**2
a

25

In [26]:
import pandas as pd

# Example DataFrame with a bad column name
students = pd.DataFrame({
    "Unnamed: 0": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"],
    "Score": [85, 92, 78]
})

print( students)

   Unnamed: 0     Name  Score
0           1    Alice     85
1           2      Bob     92
2           3  Charlie     78

In [27]:
# Rename the 'Unnamed: 0' column to 'StudentID'
students = students.rename(columns={"Unnamed: 0": "StudentID"})

print("After renaming:\n", students.head())

After renaming:
    StudentID     Name  Score
0          1    Alice     85
1          2      Bob     92
2          3  Charlie     78

In [1]:
import pandas as pd

# Wide format (students and their scores)
df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Math": [85, 92, 78],
    "Science": [90, 88, 82]
})

print("Original DataFrame:\n", df, "\n")

Original DataFrame:
       Name  Math  Science
0    Alice    85       90
1      Bob    92       88
2  Charlie    78       82

In [2]:

# Melt the DataFrame
melted = pd.melt(df, id_vars=["Name"], var_name="Subject", value_name="Score")

print("After melt:\n", melted)

After melt:
       Name  Subject  Score
0    Alice     Math     85
1      Bob     Math     92
2  Charlie     Math     78
3    Alice  Science     90
4      Bob  Science     88
5  Charlie  Science     82

In [3]:
# Set "Name" as index
df = df.set_index("Name")
print("With Name as index:\n", df, "\n")

With Name as index:
          Math  Science
Name
Alice      85       90
Bob        92       88
Charlie    78       82

In [4]:

# Reset the index
reset_df = df.reset_index()
print("After reset_index:\n", reset_df)

After reset_index:
       Name  Math  Science
0    Alice    85       90
1      Bob    92       88
2  Charlie    78       82

In [ ]:
#pd.merge() joins two DataFrames.

#left_on and right_on tell pandas which columns to use for matching