In [1]:
print("hello")

hello

In [2]:
import pandas as pd

# Sample dataframe
out_df = pd.DataFrame({'name': ['geneA', 'geneB', 'geneC']})
imp_col = pd.Series([0.12, 0.34, 0.56])

# Before
print(imp_col)

0    0.12
1    0.34
2    0.56
dtype: float64

In [3]:

# Assign new index
imp_col.index = out_df['name'].values

# After
print(imp_col)

geneA    0.12
geneB    0.34
geneC    0.56
dtype: float64

In [4]:
import pandas as pd

# Create a DataFrame with long column names
brack_df = pd.DataFrame({
    "apple.bracken.out_num": [1, 2, 3],
    "banana.bracken.out_num": [4, 5, 6],
    "cherry.bracken.out_num": [7, 8, 9]
})

print(brack_df)

   apple.bracken.out_num  banana.bracken.out_num  cherry.bracken.out_num
0                      1                       4                       7
1                      2                       5                       8
2                      3                       6                       9

In [5]:
# Apply your function
brack_df.columns = brack_df.columns.str.extract(r'([^\.]+)\.bracken\.out_num')[0] #.str.extract(pattern)

print( brack_df)

0  apple  banana  cherry
0      1       4       7
1      2       5       8
2      3       6       9

In [6]:
import numpy as np

arr = np.array([1, 2, 3, 4])
print(arr)       
print(arr[2])

[1 2 3 4]
3

In [7]:
# 2D NumPy array (matrix)
matrix = np.array([[1, 2], [3, 4]])
print(matrix)

[[1 2]
 [3 4]]

In [8]:
a=5*2
a

10

In [9]:
a=5**2
a

25

In [10]:
import pandas as pd

# Example DataFrame with a bad column name
students = pd.DataFrame({
    "Unnamed: 0": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"],
    "Score": [85, 92, 78]
})

print( students)

   Unnamed: 0     Name  Score
0           1    Alice     85
1           2      Bob     92
2           3  Charlie     78

In [11]:
# Rename the 'Unnamed: 0' column to 'StudentID'
students = students.rename(columns={"Unnamed: 0": "StudentID"})

print("After renaming:\n", students.head())

After renaming:
    StudentID     Name  Score
0          1    Alice     85
1          2      Bob     92
2          3  Charlie     78

In [12]:
import pandas as pd

# Wide format (students and their scores)
df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Math": [85, 92, 78],
    "Science": [90, 88, 82]
})

print("Original DataFrame:\n", df, "\n")

Original DataFrame:
       Name  Math  Science
0    Alice    85       90
1      Bob    92       88
2  Charlie    78       82

In [13]:

# Melt the DataFrame
melted = pd.melt(df, id_vars=["Name"], var_name="Subject", value_name="Score")

print("After melt:\n", melted)

After melt:
       Name  Subject  Score
0    Alice     Math     85
1      Bob     Math     92
2  Charlie     Math     78
3    Alice  Science     90
4      Bob  Science     88
5  Charlie  Science     82

In [14]:
# Set "Name" as index
df = df.set_index("Name")
print("With Name as index:\n", df, "\n")

With Name as index:
          Math  Science
Name
Alice      85       90
Bob        92       88
Charlie    78       82

In [15]:

# Reset the index
reset_df = df.reset_index()
print("After reset_index:\n", reset_df)

After reset_index:
       Name  Math  Science
0    Alice    85       90
1      Bob    92       88
2  Charlie    78       82

In [16]:
#pd.merge() joins two DataFrames.

#left_on and right_on tell pandas which columns to use for matching

In [18]:
df

         Math  Science
Name
Alice      85       90
Bob        92       88
Charlie    78       82

In [17]:
pd.melt(df, 
        id_vars=None, 
        value_vars=None, 
        var_name=None, 
        value_name="value")

  variable  value
0     Math     85
1     Math     92
2     Math     78
3  Science     90
4  Science     88
5  Science     82

frame → DataFrame you want to reshape.

id_vars → Columns that should be kept fixed (identifier variables).

value_vars → Columns that should be unpivoted into rows.

var_name → Name for the new “variable” column (default: variable).

value_name → Name for the new “value” column (default: value).

In [ ]:
pd.pivot_table(df,
               values=None,
               index=None,
               columns=None,
               aggfunc='mean',
               fill_value=None,
               margins=False,
               dropna=True)

data → DataFrame.

values → Column(s) to aggregate.

index → Column(s) to use as rows.

columns → Column(s) to use as new columns.

aggfunc → Aggregation function (mean, sum, count, max, etc.).

fill_value → Replace missing values (NaN).

margins=True → Adds totals (like Excel’s “Grand Total”).

In [19]:
import pandas as pd

# Sample dataset
data = {
    "Name": ["A", "A", "B", "B", "C", "C"],
    "Subject": ["Math", "Science", "Math", "Science", "Math", "Science"],
    "Score": [90, 88, 80, 92, 85, 95]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
   Name  Subject  Score
0    A     Math     90
1    A  Science     88
2    B     Math     80
3    B  Science     92
4    C     Math     85
5    C  Science     95

In [ ]:
# Create pivot table
pivot = pd.pivot_table(df, 
                       values="Score", 
                       index="Name", 
                       columns="Subject", 
                       aggfunc="mean")

print("\nPivot Table:\n", pivot)

Pivot Table:
 Subject  Math  Science
Name
A        90.0     88.0
B        80.0     92.0
C        85.0     95.0

In [ ]:
# DataFrame.join(other, 
#                on=None, 
#                how='left', 
#                lsuffix='', 
#                rsuffix='', 
#                sort=False)


# other → DataFrame, Series, or list of DataFrames to join.

# on → Column name to join on (instead of index).

# how → Type of join ('left' (default), 'right', 'outer', 'inner').

# lsuffix / rsuffix → Add suffixes if there are overlapping column names.

# sort → Whether to sort the index after join.

In [21]:
import pandas as pd

# First DataFrame
df1 = pd.DataFrame({
    "Name": ["A", "B", "C"],
    "Age": [20, 21, 19]
}, index=[1, 2, 3])

# Second DataFrame
df2 = pd.DataFrame({
    "Score": [90, 80, 85]
}, index=[1, 2, 3])

print("df1:\n", df1)
print("\ndf2:\n", df2)

# Join df2 to df1 (by index)
result = df1.join(df2)
print("\nJoined DataFrame:\n", result)

df1:
   Name  Age
1    A   20
2    B   21
3    C   19

df2:
    Score
1     90
2     80
3     85

Joined DataFrame:
   Name  Age  Score
1    A   20     90
2    B   21     80
3    C   19     85

In [1]:
# Returns the column names of a DataFrame as a **Python list**.
import pandas as pd

df = pd.DataFrame({
    "Name": ["A", "B", "C"],
    "Age": [20, 21, 19],
    "Score": [90, 85, 88]
})

print(df.columns)          # Index(['Name', 'Age', 'Score'], dtype='object')
print(df.columns.tolist()) # ['Name', 'Age', 'Score']

Index(['Name', 'Age', 'Score'], dtype='object')
['Name', 'Age', 'Score']

In [ ]:


# What it does: Returns the set difference of column names compared to another list or Index.
# Very handy when you want to exclude certain columns.

exclude = ["Name"]

print(df.columns.difference(exclude))  
# Output: Index(['Age', 'Score'], dtype='object')

Index(['Age', 'Score'], dtype='object')

In [ ]:
# 3️⃣ .append()

# Note: In new versions of pandas (≥ 2.0), `.append()` is deprecated. Instead, use pd.concat()

#What it did:Used to append rows of another DataFrame (like stacking).


df1 = pd.DataFrame({"Name": ["A", "B"], "Age": [20, 21]})
df2 = pd.DataFrame({"Name": ["C"], "Age": [19]})

# Old way (deprecated):
# df3 = df1.append(df2)

# New recommended way:
df3 = pd.concat([df1, df2], ignore_index=True)

print(df3)

  Name  Age
0    A   20
1    B   21
2    C   19

In [4]:
# 4️⃣ .groupby()

#What it does: Groups the DataFrame based on one or more columns and allows you to apply aggregation functions (`mean`, `sum`, `count`, etc.).

data = {
    "Name": ["A", "A", "B", "B", "C"],
    "Subject": ["Math", "Science", "Math", "Science", "Math"],
    "Score": [90, 88, 80, 92, 85]
}
df = pd.DataFrame(data)

# Group by Name and calculate mean score
print(df.groupby("Name")["Score"].mean())

Name
A    89.0
B    86.0
C    85.0
Name: Score, dtype: float64

The get_dummies() function is used for one-hot encoding categorical variables.
It converts categorical (string or object) values into binary columns (0/1) so that they can be used in machine learning models.


pd.get_dummies(data, 
               prefix=None, 
               prefix_sep="_", 
               columns=None, 
               drop_first=False, 
               dtype=int)
Parameters
data → DataFrame or Series.

prefix → String to add before column names (optional).

prefix_sep → Separator between prefix and category name (default _).

columns → Which columns to encode (if None, all categorical columns).

drop_first → If True, drops the first category (avoids multicollinearity).

dtype → Type for new columns (default uint8 or int).

In [1]:
import pandas as pd

df = pd.DataFrame({
    "Name": ["A", "B", "C"],
    "City": ["Delhi", "Mumbai", "Delhi"]
})

print("Original DataFrame:\n", df)

# Apply get_dummies
encoded = pd.get_dummies(df, columns=["City"])
print("\nEncoded DataFrame:\n", encoded)

Original DataFrame:
   Name    City
0    A   Delhi
1    B  Mumbai
2    C   Delhi

Encoded DataFrame:
   Name  City_Delhi  City_Mumbai
0    A        True        False
1    B       False         True
2    C        True        False